{% extends 'layout.html.twig' %}
{% block title %}SMS Form{% endblock %}
{% block content %}


    <div class="row mt-3">
        <div class="col-7">
            <h2>SMS Form</h2>
            <p>Here you can send SMS. Did you know that SMS stands for <span class="font-italic">Short Message Service?</span></p>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-8 offset-2 border border-primary p-3">
            <h2>Create new SMS</h2>
            <form method="post" action="/p17215071/send-sms">
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="number"
                           class="form-control"
                           id="phoneNumber"
                           name="phoneNumber"
                           placeholder="Enter phone number">
                    <small id="emailHelp" class="form-text text-muted">Our service works with British phone numbers only.</small>
                </div>
                <div class="form-group">
                    <label for="message">Your message</label>
                    <textarea class="form-control"
                              id="message"
                              name="message"
                              rows="4"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Send</button><br>
                    {% if clean %}
                    {% elseif validationPassed %}
                        <small class="text-success">Your message has been sent successfully.</small><br>
                    {% else %}
                        <small class="text-danger">Phone number must be between 9 and 12 characters.<br>Message must be between 1 and 160 characters.</small>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
