{% extends 'layout.html.twig' %}
{% block title %}Login{% endblock %}
{% block content %}


    <div class="row mt-3">
        <div class="col-7">
            <h2>DMU CTEC3110 Assignment</h2>
            <p>Some description about this project, what it does, how it works and how to use it.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-5 border border-primary p-3">
            <h2>Sign up</h2>
            <p>Create a new account.</p>
            <form method="post" action="/register">
                <div class="form-group">
                    <label for="emailAddress_registration">Email address</label>
                    <input type="email" class="form-control" id="emailAddress_registration" aria-describedby="emailHelp"
                           placeholder="Enter email" name="email">
                    <small id="emailHelp" class="form-text text-muted">You'll get a confirmation message.</small>
                </div>
                <div class="form-group">
                    <label for="password_registration">Password</label>
                    <input type="password" class="form-control" id="password_registration" placeholder="Password" name="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3 display-b">Register</button>
                    <div class="text-center">
                        {% if clean %}
                        {% elseif validationPassed %}
                            <small class="text-success">You have registered successfully. You can log in now.</small><br>
                        {% else %}
                            <small class="text-danger">Please use a valid email address.<br>Password must be between 8 and 64 characters.</small>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <div class="col-5 border border-primary p-3 offset-1">
            <h2>Log in</h2>
            <p>Already got an account?</p>
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="emailAddress_login">Email address</label>
                    <input type="email" name="email" class="form-control" id="emailAddress_login" aria-describedby="emailHelp"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password_login">Password</label>
                    <input type="password" name="password" class="form-control" id="password_login" placeholder="Password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Log in</button><br>
                    <small><a href="/resetPassword">Forgot your password?</a></small>
                </div>
            </form>
        </div>

    </div>

{% endblock %}
